{% extends "base.html" %}

{% block title %}
    <title>{{model.filename}} - hpShare</title>
{% endblock %}

{% block topbar_extra %}
    {% if enable_preview %}
        <a class="download-btn" href="{{download_url}}">Download</a>
    {% endif %}
{% endblock %}

{% block content %}

    {% if enable_preview %}
    <div class="file-preview">
        {% if "image" == shortmime %}
        <img alt="Preview" src="{{preview_url}}">
        {% else %}
        <{{shortmime}} controls {% if "video" == shortmime %}autoplay loop{% endif %}>
            <source src="{{preview_url}}" type="{{model.mimetype}}"/>
            <div class="file-type">
                <span class="extension">{{model.extension}}</span>
            </div>
        </{{shortmime}}>

        <script type="text/javascript">
        var v = document.getElementsByTagName("{{shortmime}}")[0];
        if(!v.canPlayType("{{model.mimetype}}")) {
            var d = document.createElement('div');
            d.innerHTML = v.innerHTML;
            v.parentNode.replaceChild(d, v);
            d.parentNode.classList.remove("file-preview");
        }
        </script>
        {% endif %}
    </div>
    {% else %}
    <div class="file-type">
        <span class="extension">{{model.extension}}</span>
    </div>
    {% endif %}

    <p class="filename">{{model.filename}}</p>
    <p class="extrainfo">
        <span class="filesize">{{model.readable_size}}</span> 
        &nbsp;•&nbsp;
        <span class="filetime">{{model.permit_time|date:"D, M d Y"}}
    </p>
    {% if not enable_preview %}
    <a class="download-btn" href="{{download_url}}">Download</a>
    {% endif %}
{% endblock %}
