<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static "main.css"%}">
        <title>{{filename}} - hpShare</title>
    </head>
    <body>
        <nav class="topbar">
            <a href="http://blahgeek.com"><img alt="Logo" src="{% static "logo.png" %}"></a>
            <h1>Shared with <a href="https://github.com/blahgeek/hpShare">hpShare</a></h1>
        </nav>
        <div class="wrapper">
            <div class="file-type">
                <span class="extension">{{extension}}</span>
            </div>
            <p class="filename">{{filename}}</p>
            <p class="extrainfo">
                <span class="filesize">{{size}}</span>&nbsp;•&nbsp;
                <span class="filetime">{{time|date:"D, M d Y"}}
            </p>
            <a class="download-btn" href="{{url}}">Download</a>
        </div>
    </body>
</html>
