{% extends "base.html" %}

{% block title %}
    <title>{{model.filename}} - hpShare</title>
{% endblock %}

{% block topbar_extra %}
    {% if preview %}
        <a class="download-btn" href="{% url 'downloadfile' model.id model.filename %}">Download</a>
    {% endif %}
{% endblock %}

{% block content %}
    {% if preview %}
    <div class="file-preview">
        <a title="Click to download original file" href="{% url 'downloadfile' model.id model.filename %}">
            <img alt="Preview" src="{% url 'downloadfile_persistent' preview.id preview.filename %}">
        </a>
    </div>
    {% else %}
    <div class="file-type">
        <span class="extension">{{model.extension}}</span>
    </div>
    {% endif %}

    <p class="filename">{{model.filename}}</p>
    <p class="extrainfo">
        {% for info in extrainfo %}
        {{ info }}<br/>
        {% endfor %}
        <span class="filesize">{{model.readable_size}}</span> 
        &nbsp;•&nbsp;
        <span class="filetime">{{model.permit_time|date:"d/m/Y P e"}}
        {% if model.sha1sum %}
        SHA1: {{model.sha1sum}} <br/>
        {% endif %}
    </p>
    {% if not preview %}
    <a class="download-btn" href="{% url 'downloadfile' model.id model.filename %}">Download</a>
    {% for p in persistents %}
        <a class="download-btn" href="{% url 'downloadfile_persistent' p.id p.filename %}">Download as {{p.description}}</a>
    {% endfor %}
    {% endif %}
{% endblock %}
