html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
}
.wrapper {
  margin: 65px auto 40px;
}

.topbar {
  overflow: visible;
  z-index: 1000;
  background: #f9f9f9;
  border-bottom: 1px solid #e8e8e8;
  width: 100%;
  height: 46px;
  position: relative;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .download-btn + h1.title {
    display: none;
  }
}

.topbar h1 {
  display: block;
  margin: 0px auto;
  padding-top: 5px;
  font-size: 13px;
  line-height: 38px;
  font-weight: 400;
  color: #6a6f75;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.topbar h1 a {
  color: #7c7c7c;
  font-weight: bold;
}

.topbar a.logo {
  position: absolute;
  left: 14px;
  top: 4px;
}

.topbar a.logo img {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height:38px;
}

.topbar .download-btn {
  position: absolute;
  right: 10px;
  top: 7px;
  width: 65px;
  height: 20px;
  padding: 5px 8px;
}

.file-type {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url(fileicon.png) center top no-repeat;
  color: #e5e8e9;
  font-size: 32px;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  height: 173px;
  margin-bottom: 33px;
  padding-top: 70px;
  text-transform: uppercase;
  text-shadow: 0 -1px #d3d6d9; 
  text-align: center;
}

.file-type span.extension {
  width: 100px;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.file-preview {
  max-width: 100%;
  margin: -25px 10px 33px;
  text-align: center;
}

.file-preview img {
  max-width: 100%;
}

.file-preview video {
  max-width: 100%;
}

.file-preview audio {
  width: 250px;
  margin-top: 75px;
}

.download-btn {
  margin: 0 auto 10px;
  width: 150px;
  display: block;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  color: #ffffff;
  background-color: #409ae7;
  border-color: #3a89ce;
}

.download-btn:focus,
.download-btn:active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.download-btn:hover,
.download-btn:focus{
  color: #ffffff;
  text-decoration: none;
  background-color: #3682c2;
  border-color: #2b6598;
}
.download-btn:active{
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.filename {
  white-space: nowrap;
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
  color: #6a6f75;
  text-align: center;
  margin: 4px auto 0px;
  max-width: 90%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.extrainfo {
  font-size: 12px;
  line-height: 20px;
  font-weight: 200;
  color: #babec2;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 30px;
}

