{% load staticfiles %}
<div id="highlight-content"></div>
<script>
(function() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
      if (xhttp.readyState == 4 && xhttp.status == 200) {
           document.getElementById("highlight-content").innerHTML = xhttp.responseText;
      }
  };
  xhttp.open("GET", "{{ preview_url|safe }}", true);
  xhttp.send();

  var link = document.createElement( "link" );
  link.href = "{% static "highlight.css" %}";
  link.type = "text/css";
  link.rel = "stylesheet";
  document.getElementsByTagName( "head" )[0].appendChild( link );
})()

</script>
