{% load staticfiles %}
{% load qn_url %}
<div class="file-type">
    <span class="extension">ZIP</span>
</div>

<div class="preview-content" style="text-align: center;">
    <table id="listzip-table" style="display: none; text-align: left; white-space: nowrap;">
        <tr>
            <th>Filename</th>
            <th>Time</th>
            <th>File Size</th>
        </tr>
    </table>
</div>

<script>
(function() {
  var table = document.getElementById('listzip-table');
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
      var format_datetime = function(t) {
          return '' + t[0] + '/' + t[1] + '/' + t[2] + ' ' + t[3] + ':' + t[4];
      };
      if (xhttp.readyState == 4 && xhttp.status == 200) {
          var filelist = JSON.parse(xhttp.responseText);
          var content = '';
          for(var i = 0 ; i < filelist.length ; i ++) {
             var file = filelist[i];
             content +=
                '<tr>' +
                    '<td>' + file.filename + '</td>' +
                    '<td>' + format_datetime(file.date_time) + '</td>' +
                    '<td>' + file.file_size + '</td>' +
                '</tr>';
          }
          table.innerHTML += content;
          table.style.display = 'inline-table';
      }
  };
  xhttp.open("GET", "{{ preview_model.key|qn_url|safe }}", true);
  xhttp.send();

})()

</script>
